{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block body %}
{% include 'header.html' %}
<div class="container mt-5">
    <div class="row" >
        <div class="col-md-4"> </div>
        <div class="col-md-4">
            <form method="POST">
                {% csrf_token %}
                <legend>Register</legend><hr>
                {%if register_form.errors%}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <p>{{register_form.errors.username}}</p>
                    <p>{{register_form.errors.email}}</p>
                    <p>{{register_form.errors.confirm_password}}</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                <div class="form-group" >
                    {{register_form.first_name}}

                </div>
                <div class="form-group" >
                    {{register_form.last_name}}

                </div>
                <div class="form-group">
                    {{register_form.email}}
                  
                </div>
                <div class="form-group">
                    {{register_form.password}}
                </div>
                <div class="form-group">
                    {{register_form.confirm_password}}
                </div>
                <input type="submit" name='register_submit' class="btn btn-outline-success mr-5" value='Register'>
            </form>
        </div>  
        <div class="col-md-4"> </div>
    </div>
</div>
{% endblock %}